.project-title-container {
  position: -webkit-sticky;
  position: sticky;
  top: -8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 1px 1px var(--color-pane-sidebar);
  z-index: 9999999;

  &::before {
    content: '';
    position: absolute;
    width: 150%;
    height: 181%;
    left: -30px;
    top: -10px;
    background-color: var(--color-pane-sidebar);
  }

  .list-title {
    position: relative;
    display: inline-block;
    font-size: 13px;
    color: var(--grey);
  }

  .add-project {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    top: -1px;
    width: 18px;
    height: 18px;
    margin-left: auto;
    border: 1px solid var(--grey);
    cursor: pointer;

    &:hover {
      border: 1px solid var(--white);

      &::before,
      &::after {
        background-color: var(--white);
      }
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 8px;
      height: 2px;
      background-color: var(--grey);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
}

.project-container {
  position: relative;
  cursor: pointer;
  z-index: 99999;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--grey-3);
    top: 0;
    left: -6px;
    transition: 0.2s ease;
    opacity: 0;
    z-index: -1;
    border-radius: 5px;
    padding-right: 18px;
  }

  &.selected {
    &::before {
      opacity: 1;
    }
  }

  &:hover {
    &::before {
      opacity: .4;
    }

    &.selected {
      &::before {
        opacity: 1;
      }
    }

    .project-time {
      opacity: 0;
    }

    .project-controls {
      transform: scale(1);
    }
  }
}

.projects {
  padding-top: 15px;

  li {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    padding: 10px 0;
    padding-right: 45px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;

    .project-time,
    .project-controls {
      display: inline-block;
      text-overflow: unset;
      padding: 2px 4px;
      position: absolute;
      right: -6px;
      margin-bottom: 1px;
      z-index: 100;
      background-color: var(--grey-3);
      border-radius: 10px;
      color: var(--grey-3);
      text-align: center;
      font-size: 13px;
      line-height: 1;
      font-weight: 600;
      transition: opacity 0.2s ease;
      opacity: 1;

      .project-current {
        color: var(--grey-2);
      }
    }

    .project-controls {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      top: 7px;
      right: -11px;
      transform: scale(0);
      transition: 0.2s ease;

      .edit-container,
      .delete-container {
        padding: 0 5px;
      }

      svg {
        max-width: 15px;
        fill: var(--grey-2);
      }
    }
  }
}
