.error-message {
    position: fixed;    
    display: block;
    top: 7%;
    left: 50%;
    min-width: 100px;
    max-width: 260px;
    min-height: 40px;
    transform: translate(-50%, 0%);
    color: var(--red);
    font-size: 17px;
    z-index: 99;
    background-color: var(--grey-2);
    padding: 1.1em;
    border-radius: 5px;
    overflow: hidden;
    animation: 0.4s popIn;

    &.hidden {
        animation: 0.4s popOut;
    }

    &::before {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        background-color: var(--green);
        width: 100%;
        height: 5px;
        animation: 4s slowSlide;
    }
}

@keyframes popIn {
    from {
      transform: translate(-50%, -200%);
    }
  
    to {
      transform: translate(-50%, 0%);
    }
}

@keyframes popOut {
    from {
        transform: translate(-50%, 0%);
    }

    to {
        transform: translate(-50%, -200%);
    }
}

@keyframes slowSlide {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

