.timer-progressbar {
    position: relative;
    width: 1%;
    padding: 4px 0;
    border-radius: 15px;
    background-color: var(--green);
    transition: all 0.2s ease;

    &.yellow {
        background-color: rgb(239, 198, 49);
    }
    &.orange {
        background-color: rgb(229, 130, 0);
    }
    &.red {
        background-color: rgb(207, 46, 46);
    }
}

.timer {
    position: relative;
    justify-self: flex-end;
    align-self: center;
    margin-top: auto;
    width: 100%;

    .time {
        text-align: center;
        font-size: 24px;
    }

    .timer-progressbar {
        margin-bottom: 16px;
        margin-top: 15px;
    }

    .timer-buttons {
        text-align: center;

        button {
            display: inline-block;
            margin: 10px 5px 0 5px;
            padding: 5px 10px;
            background-color: var(--white);
            border-radius: 7px;
            font-size: 14px;
            transition: 0.2s ease;
            border: 2px solid var(--white);

            &:hover {
                border: 2px solid var(--blue);
            }

            &.active {
                background-color: var(--blue);
                color: var(--white);
                border: 2px solid var(--blue);
            }
        }
    }
}