.net-status {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: .7rem;
  padding-left: 10px;
  display: none;

  &.offline {
    color: #949494;
    display: inline-block;
  }
}
