.net-status {
  position: fixed;
  display: inline-block;
  bottom: 10px;
  right: 10px;
  font-size: .7rem;
  padding-left: 10px;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: green;
  }

  &.offline {
    &::before {
      background-color: red;
    }
  }
}
