.cards {
  position: relative;
  display: flex;
  flex-direction: row;
  transition: 0.2s ease;
  flex-wrap: wrap;
}

.card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  min-width: 260px;
  max-width: 260px;
  background-color: var(--bg-card);
  color: var(--black);
  margin: 40px 40px 0 0;
  padding: 1em 1em;
  border-radius: 5px;
  transition: opacity .2s ease;
  display: none;

  &:hover {
    .edit-container {
      opacity: 1;
      pointer-events: all;
    }

    .delete-container {
      opacity: 1;
      pointer-events: all;
    }
  }

  &.All,
  &.Task,
  &.Bug,
  &.Feature,
  &.Done {
    display: flex;
  }

  &.Feature {
    .card-category {
      color: var(--blue);
    }
  }

  &.All {
    .card-category {
      color: var(--green);
    }
  }

  &.Task {
    .card-category {
      color: var(--orange);
    }
  }

  &.Bug {
    .card-category {
      color: var(--red-2);
    }
  }

  &.Done {
    .card-category {
      color: #39be10;
    }
  }

  .card-name {
    font-size: 17px;
  }

  .card-desc {
    font-size: 15px;
  }

  .card-category {
    font-size: 15px;
    padding-bottom: 7px;
  }

  .card-times {
    font-size: 14px;
    align-self: center;
    padding-top: 40px;
    width: 100%;
    text-align: center;
    margin-left: -15px;
  }

  .card-current,
  .card-limit {
    display: inline-block;
    padding: 0 10px;
  }

  .card-created-at {
    color: var(--grey-3);
    align-self: end;
    padding-bottom: 1em;
    font-size: 15px;
    margin-left: auto;
  }
}

button.add-card {
  position: absolute;
  top: 7px;
  left: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: darken(#4F90FF, 5);
  color: var(--white);
  z-index: 999;
  font-weight: 600;
  transition: 0.2s ease;

  &.disabled {
    background-color: var(--grey);
  }
}

.modal {
  &.new-card-modal {
    max-height: 450px;

    h2,
    h3 {
      margin-top: 12px;
    }
  }
}

.category-filter {
  position: fixed;
  z-index: 99;
  background-color: var(--color-background);
  width: calc(100% - 240px);
  box-shadow: -44px -46px 0px 51px var(--color-background);

  select {
    background-color: transparent;
    border-radius: 5px;
    outline: 0;
    padding: 5px;
    color: var(--blue);
    border: 0;
    font-size: 15px;
    font-weight: 600;
  }

  .filter-info {
    padding-top: 6px;
  }
}

.card-control {
  display: flex;
  flex-direction: row;

  .edit-container,
  .delete-container {
    margin-right: 7px;
  }

  .edit-container {
    margin-top: -16px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s ease;
  }

  .delete-container {
    margin-top: -16px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s ease;
  }
}