.titlebar {
  position: sticky;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 15px;
  z-index: 999;
  min-height: 47px;
  max-height: 47px;
  /* Creates draggable titlebar */
  -webkit-user-select: none;
  -webkit-app-region: drag;
  background-color: var(--color-titlebar);
  box-shadow: 1px 1px 1px 1px var(--color-titlebar);
}
