// Imports
@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',  
  'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  height: 100vh;
  display: block;
  color: var(--color-text);
  background-color: var(--color-background);
  transition: background 0.3s ease, color 0.3s ease;
}

.container {
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.loading-dashboard {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #313333;
  z-index: 9;

  .loading-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .loading-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 3px solid #464b80;
    border-radius: 50%;
    animation: loading-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #464b80 transparent transparent transparent;
  }
  .loading-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .loading-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }

  @keyframes loading-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
