// COLORS
html {
  --color-text: #fff;
  --color-background: #1E1E1E;
  --color-2: #212431; // 1E2022 ;
  --color-pane-sidebar: #2B2E2E;
  --color-pane-cardlist: #363838;
  --color-titlebar: #343535;
  --text-white: #B8B8BA;
  --input-bg: #333333;
  
  --grey: #9fa0a3;
  --grey-2: #CACACA;
  --grey-3: #787879;
  --white: #fff;
  --white-2: rgb(236, 236, 236);
  --green: #5c8178;
  --red: rgb(160, 65, 65);
  --black: #000;
  --black-2: rgb(36, 36, 36);
  --blue: #4F90FF;
}

html[data-theme="light"] {
  --color-text: #444545;
  --color-background: #FFFFFC;
  --color-2: #212431;
  --color-titlebar: #e7e7e7;
}

